# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
1. Scala
1. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
1. numpy
1. scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| IBM Watson Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

1. 4*3
1. 4+6

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ Get used to mathematical operations in Jupyter Notebook
+ Different uses of markdown

## Author
Harsh Mehta